# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Kotlin and Java build files
*.class
*.kotlin_metadata
*.kotlin_module

# Tests outputs
test-results/

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*~

# IntelliJ IDEA / Android Studio specific
out/
*.ipr
*.iws

# Gradle distribution and caches
gradle/wrapper/
gradle-wrapper.properties
gradle-*.zip